<div class="row">
	<div class="col s12">
		<div class="card-panel fiterCard">
			<div class="card-content">
				<div class="row">
					<h5 class="grey-text text-darken-2">
						FILTROS
					</h5>
				</div>
				<div class="row">
				<div class="col s4">
					<div class="row">
						ROI
					</div>
					<div class="sliders"></div>
					<div class="row">
						Costo
					</div>
					<div class="sliders"></div>
				</div>
				<div class="col s4">
					<div class="row">
						Conversión
					</div>
					<div class="sliders"></div>
					<div class="row">
						Beneficio
					</div>
					<div class="sliders"></div>
				</div>
				<div class="col s4">
				<div class="row">
						Visitas
					</div>
					<div class="sliders"></div>
					<div class="row">
						Canales
						<input type="text" id="buscarCanal" class="autocomplete" placeholder="Buscar Canal ..."></input>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>