<div class="row">
	<div class="col s12">
		<div class="card-panel fiterCard">
			<div class="card-content">
				<div class="row">
					<h5 class="grey-text text-darken-2">
						FILTROS
					</h5>
				</div>
				<div class="row">
				<div class="col s4">
					<div class="row">
						ROI
					</div>
					<div class="sliders"></div>
					<div class="row">
						Costo
					</div>
					<div class="sliders"></div>
				</div>
				<div class="col s4">
					<div class="row">
						Conversión
					</div>
					<div class="sliders"></div>
					<div class="row">
						Beneficio
					</div>
					<div class="sliders"></div>
				</div>
				<div class="col s4">
					<div class="row">
						<div class="col s6">
							<label for="datepickerFrom">Desde</label>
						 	<input type="date" id="datepickerFrom" class="datepickerInput" >
						 </div>
						 <div class="col s6">
						 	<label for="datepickerTo" >Hasta</label>
						 	<input type="date" id="datepickerTo" class="datepickerInput">
					 	</div>
				 	</div>
					<div class="row">
						Campañas
						<input type="text" id="buscarCampana" class="autocomplete" placeholder="Buscar Campaña ..."></input>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>